<div class="p-4 decrease-pading footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xs-12 pb-4">
        <h2 class="title brand-title">Weather App</h2>
        <p class="pr-5 sub-title">{{ 'HOME.LINK_1' | translate }}</p>
        <a class="d-inline social mr-2" href="https://www.facebook.com/dedemachado">
          <i class="fa fa-facebook-square fa-2x"></i>
        </a>
        <a class="d-inline social" href="https://www.linkedin.com/in/andre-monte">
          <i class="fa fa-linkedin-square fa-2x"></i>
        </a>
      </div>
      <div class="col-lg-3 col-xs-12 links pb-4">
        <h4 class="title">Links</h4>
        <ul class="m-0 p-0">
          <li><a href="https://openweathermap.org/">Open Weather</a></li>
          <li><a href="https://www.theweathernetwork.com/ca">The Weather Network</a></li>
          <li><a href="https://www.ipma.pt/pt/otempo/prev.localidade.hora/">IPMA</a></li>
          <li><a href="https://www.accuweather.com/">AccuWeather</a></li>
          <li><a href="https://www.wunderground.com/">Weather Underground</a></li>
          <li><a href="http://www.inmet.gov.br/portal/">INMET</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-xs-12 location text-white">
        <h4 class="title">{{ 'HOME.LOCATION' | translate }}</h4>
        <p class="sub-title">5102, Salter Street, Halifax, Nova Scotia</p>
        <p class="mb-0"><i class="fa fa-phone mr-3"></i>(902) 111-2222</p>
        <p><a class="text-white" href="mailto:monte.andre@outlook.com"><i
              class="fa fa-envelope-o mr-3"></i>monte.andre@outlook.com</a></p>
      </div>
    </div>
    <div class="row mt-3 justify-content-center">
      <small class="text-center creator">Andre Machado do Monte © 2020</small>
    </div>
  </div>
</div>
